<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <title>Simple</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="../resources/css/normalize.css"
          th:href="@{/resources/css/normalize.css}"/>
    <link rel="stylesheet" href="../resources/css/foundation.min.css"
          th:href="@{/resources/css/foundation.min.css}"/>
    <link rel="stylesheet" href="../resources/css/style.css"
          th:href="@{/resources/css/style.css}"/>
    <script type="text/javascript" src="../resources/js/vendor/custom.modernizr.js"
            th:src="@{/resources/js/vendor/custom.modernizr.js}" />
    <script type="text/javascript" src="../resources/js/vendor/jquery.js"
            th:src="@{/resources/js/vendor/jquery.js}" />
    <script type="text/javascript" src="../resources/js/foundation.min.js"
            th:src="@{/resources/js/foundation.min.js}" />
    <script type="text/javascript" src="../resources/js/app.js"
            th:src="@{/resources/js/app.js}" />
</head>

<body>

<header class="row" th:fragment="header">
    <div class="small-10 columns">
        <h1>App Name</h1>
    </div>
</header>

<div class="row">
    <div class="small-10 columns template">
        <h2>[[content title]]</h2>

        <p>[[content]]</p>
    </div>

    <div class="small-2 columns" th:fragment="sidebar">
        <div style="width: 140px; margin: 0 auto">
            <ul class="side-nav">
                <!--<li><a href="post/list.html" th:href="@{/refresh}">Refresh</a></li>-->
                <li><a href="users.html" th:href="@{/users}" >Users</a></li>
                       <!--th:text="#{page.users}">Users</a></li>-->
                <li class="divider"></li>
                <li><a href="about.html" th:href="@{/about}">About</a></li>
            </ul>
        </div>
    </div>

</div>

<footer class="row" th:fragment="footer">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="small-4 columns">
                <p>&copy; Copyright BME IIT</p>
            </div>
            <div class="small-8 columns">
                <ul class="inline-list right">
                    <li>Powered by</li>
                    <li><a href="http://www.springsource.org/">Spring</a></li>
                    <li><a href="http://www.thymeleaf.org/">Thymeleaf</a></li>
                    <li><a href="http://foundation.zurb.com/">Foundation</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>